
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">
    <input type="text" name="username" value="" />
    <input type="password" name="password" value="" />
    <input type="submit" name="tj" value="提交" />

</form>

