@{
    Layout = null;
}
<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }

        $(function () {
            var menuVal = "@ViewBag.CurrentNav";
            if ("" != $.trim(menuVal)) {
                console.log(menuVal);
                $(".nav-list li").removeClass("active");
                $(".nav-list li").removeClass("open");
                $("#" + menuVal).addClass("active");
                $("#" + menuVal).parent().show();
            }
        });
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-home"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>

            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->
    <!--
    <ul class="nav nav-list">
        @Html.Raw(ViewBag.NavBar)
    </ul> /.nav-list -->

    <ul class="nav nav-list" style="top: 0px;">
        <li class="" id="7580672f-a390-4bb6-982d-9a4570cb5199">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-cog"></i>
                <span class="menu-text">
                    基础配置
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>
            <ul class="submenu">
                <li class="" id="bedb41a2-f310-4775-af99-01be08adda93">
                    <a href="/RoleManager/Index">
                        <i class="menu-icon fa fa-users"></i>
                        <span class="menu-text"> 角色管理 </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="0031262c-689c-4b96-bae2-2c9d67076ade">
                    <a href="/flowmanage/flowdesign/index">
                        <i class="menu-icon fa fa-anchor"></i>
                        <span class="menu-text"> 流程设计 </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="e8dc5db6-4fc4-4795-a1cc-681cbcceec91">
                    <a href="/ResourceManager/Index">
                        <i class="menu-icon fa fa-calculator"></i>
                        <span class="menu-text"> 资源管理 </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="ef386d5d-cd58-43c0-a4ab-80afd0dbcd6c">
                    <a href="/UserManager/Index">
                        <i class="menu-icon fa fa-user"></i>
                        <span class="menu-text"> 用户管理 </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="92b00259-2d15-43e7-9321-adffb29e8bf2">
                    <a href="/flowmanage/formdesign/index">
                        <i class="menu-icon fa fa-anchor"></i>
                        <span class="menu-text"> 表单设计 </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="bc80478d-0547-4437-9cff-be4b40144bdf">
                    <a href="/ModuleManager/Index">
                        <i class="menu-icon fa fa-file-code-o"></i>
                        <span class="menu-text"> 模块管理 </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="a94d5648-c2a9-405e-ba6f-f1602ec9b807">
                    <a href="/CategoryManager/Index">
                        <i class="menu-icon fa fa-archive"></i>
                        <span class="menu-text"> 分类管理 </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="6a9e1346-0c01-44d2-8eb1-f929fdab542a">
                    <a href="/OrgManager/Index">
                        <i class="menu-icon fa fa-plus-square-o"></i>
                        <span class="menu-text"> 部门管理 </span>
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li class="" id="069475e3-c997-487a-9f29-e6a864c5c1d4">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bars"></i>
                <span class="menu-text">
                    应用功能
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>
            <ul class="submenu">
                <li class="" id="9486ff22-b696-4d7f-8093-8a3e53c45453">
                    <a href="/FlowManage/FlowInstances/Index">
                        <i class="menu-icon fa fa-clock-o"></i>
                        <span class="menu-text"> 流程处理 </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="89c3bfbe-246f-4112-8eb1-b6789da54202">
                    <a href="/StockManager/Index">
                        <i class="menu-icon fa fa-archive"></i>
                        <span class="menu-text"> 进出库管理 </span>
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

    </ul>
    <!-- /.nav-list -->
    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
</div>

